<h2>All Campaigns</h2>

<div class=" ">
    {{#each campaigns}}

    <ul>

  
        <img src="{{this.imageUrl}}" alt="room pic"> 
        <p> {{this.name}} </p>
        <p> {{this.description}} </p>
        <p> The duration for this campaign is {{this.duration}} weeks. </p>
        <p> The goal is {{this.readableGoal}}. </p>
        <p>This campaign concludes on {{this.deadline}}. </p>
        <p>{{this.donations}} pledges have been made to this campaign so far. </p>
        <p> There are {{this.timeLeft.days}} days, {{this.timeLeft.hours}} hours, and {{this.timeLeft.minutes }} minutes before the deadline. </p>
        <p>{{this.readableTotal}} has been raised so far.</p>
        <p>This campaign is {{this.percent}} % to goal</p>

        <ul>
        {{#each this.pledges}}
        <li>
            <h5>{{this.user.fullName}} pledged ${{this.amount}}</h5>
            <p>- "{{this.comment}}"</p>
        </li>
        {{/each}}
        
        </ul>
        <a href="/pledges/{{this._id}}/add-pledge">Donate to this campaign</a>

<hr>

</ul>

    {{/each}}

</div>

    <a href="/campaigns/my-campaigns">See My Campaigns</a>