    <section>

    <img src="{{foundCampaign.imageUrl}}" alt="room pic">
    <p>{{foundCampaign.name}}</p>
    <p>{{foundCampaign.owner.fullName}}</p>
    <p>{{foundCampaign.description}}</p>
    <p>{{foundCampaign.deadline}}</p>
    <p>{{foundCampaign.goal}}</p>
    <p>{{foundCampaign.donations}}</p>
    <p>{{foundCampaign.readableTotal}}</p>
    <p>{{foundCampaign.percent}}</p>
    <p>{{foundCampaign.deadline}}</p>
    <p> *{{foundCampaign.timeLeft.days}} days {{foundCampaign.timeLeft.hours}} hours {{foundCampaign.timeLeft.minutes }} minutes and {{foundCampaign.timeLeft.seconds}} seconds before deadline. </p>
    

      <form action="/pledges/{{foundCampaign._id}}/create-checkout-session"method='post'>
          <label>Comment</label>
          <input name="comment" />

        <label>Amount</label>
        <input type="radio" id="20" name="price_ID" value="price_1KsqbjCdp1vgefLQ4I1Ifzq3">
        <label for="20">20</label>
        <input type="radio" id="50" name="price_ID" value="price_1KsqcYCdp1vgefLQTKRe651f">
        <label for="50">50</label>
        <input type="radio" id="100" name="price_ID"value="price_1KsqcwCdp1vgefLQCCJg0HBA">
        <label for="100">100</label>
        <input type="radio" id="500" name="price_ID" value="price_1KsqdQCdp1vgefLQU5I71jdO">
        <label for="500">500</label>
        <input type="radio" id="1000" name="price_ID" value="price_1KsqdyCdp1vgefLQ5KubMlcf">
        <label for="1000">1000</label>

          <button type="submit" id="checkout-button">Donate</button>
      </form>


              {{#each foundCampaign.pledges}}
        <li>
            <h5>{{this.comment}}</h5>
            <p>-{{this.user.fullName}}</p>
            <p>-${{this.amount}}</p>
        </li>
        {{/each}}

    </section>