<h2>My Rooms</h2>

<div class=" ">
    {{#each myCampaigns}}

    <ul>

  
        <img src="{{this.imageUrl}}" alt="room pic">  
        <p> {{this.name}} </p>
        <p> {{this.description}} </p>
        <p> {{this.duration}} </p>
        <p> {{this.goal}} </p>
        <ul>
        {{#each this.pledges}}
        <li>
            <h5>{{this.comment}}</h5>
            <p>-{{this.user.fullName}}</p>
            <p>-${{this.amount}}</p>
        </li>
        {{/each}}
        </ul>
        <br>

        <a href="/campaigns/{{this._id}}/edit">Update Campaign</a>

        <form method = "post" action="/campaigns/{{this._id}}/delete">
            <input type="submit" value="Delete Campaign" />
        </form>

<hr>

</ul>


    {{/each}}

</div>